.wrapper{
    background-color: white;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 100vh;
}

.recievedVideo{
    width: 90vw;
    aspect-ratio: 9/16;
    background-color: black;
    border-radius: 10px;
}

.info{
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 20px;
}

.confirmBtn{
    width: 80vw;
    height: 50px;
    border-radius: 10px ;
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    background-color: #4c259a;
    border: none;
}